@font-face {
  font-family: 'Tiempos';
  src: local('Tiempos Text'), local('TiemposText'), local('Tiempos'),
    url('/fonts/Tiempos-Text/TiemposText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos';
  src: local('Tiempos Text'), local('TiemposText'), local('Tiempos'),
    url('/fonts/Tiempos-Text/TiemposText-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos';
  src: local('Tiempos Text'), local('TiemposText'), local('Tiempos'),
    url('/fonts/Tiempos-Text/TiemposText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos';
  src: local('Tiempos Text'), local('TiemposText'), local('Tiempos'),
    url('/fonts/Tiempos-Text/TiemposText-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Light'), local('Helvetica Neue'),
    url('/fonts/Helvetica-Neue/HelveticaNeueLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Light Italic'), local('Helvetica Neue'),
    url('/fonts/Helvetica-Neue/HelveticaNeueLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Bold'), local('Helvetica Neue'),
    url('/fonts/Helvetica-Neue/HelveticaNeueBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Bold Italic'), local('Helvetica Neue'),
    url('/fonts/Helvetica-Neue/HelveticaNeueBoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: local('Helvetica Neue Condensed Black'),
    url('/fonts/Helvetica-Neue/HelveticaNeueCondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

// common
$font-family-default: 'Helvetica Neue', sans-serif;
$font-weight-default: 300;
$font-family-header: 'Helvetica Neue Condensed Black', sans-serif;
$font-weight-header: 900;
$font-family-blockquote: 'Helvetica', sans-serif;
$font-weight-blockquote: 700;
$font-family-button-input: 'Arial', sans-serif;
$font-weight-button-input: 400;
$font-family-list-title: 'Tiempos', serif;
$font-weight-list-title: 700;
$font-family-body: 'Tiempos', serif;
$font-weight-body: 400;

// global = mobile
$font-size-nav-link: 17px;
$font-height-nav-link: 24px;
$font-spacing-nav-link: -0.025em;

$font-size-button-input: 18px;
$font-height-button-input: 20.7px;
$font-spacing-button-input: 0;

$font-size-newsletter-title: 18px;
$font-height-newsletter-title: 20px;
$font-spacing-newsletter-title: 0;

$font-size-newsletter-input: 18px;
$font-height-newsletter-input: 20.7px;
$font-spacing-newsletter-input: 0;

$font-size-footer-logo: 18px;
$font-height-footer-logo: 36px;
$font-spacing-footer-logo: 0;

$font-size-footer-links: 18px;
$font-height-footer-links: 25px;
$font-spacing-footer-links: 0;

$font-size-h1: 34px;
$font-height-h1: 40px;
$font-spacing-h1: -0.015em;
$font-spacing-h1-sub: -0.024em;

$font-size-h2: 22px;
$font-height-h2: 24px;
$font-spacing-h2: 0;

$font-size-body: 16.5px;
$font-height-body: 40px;
$font-spacing-body: 0.006em;

$font-size-categories: 14px;
$font-height-categories: 16px;
$font-spacing-categories: 0;

// blog post

$font-size-blog-h2: 24px;
$font-height-blog-h2: 32px;
$font-spacing-blog-h2: 0;

$font-size-h3-subtitle: 18px;
$font-height-h3-subtitle: 24px;
$font-spacing-h3-subtitle: 0.006em;

$font-size-h4: 14px;
$font-height-h4: 32px;
$font-spacing-h4: 0.036em;

$font-size-blockquote: 36px;
$font-height-blockquote: 48px;
$font-spacing-blockquote: -0.015em;

$font-size-list-title: 16.5px;
$font-height-list-title: 29px;
$font-spacing-list-title: 0.006em;

// desktop

$desktop-size-body: 19px;
$desktop-height-body: 36px;
$desktop-spacing-body: 0;

$desktop-list-title: 19px;
$desktop-list-title: 36px;
$desktop-list-title: 0;
