* {
    box-sizing: border-box;
    margin: 0;
    font-family: $font-family-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: $font-family-default;
    font-size: $font-size-body;
}

body {
    font-family: $font-family-default;
    // color: $grey-4a;
}

h1 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
select,
textarea {
    background-color: transparent;
    border: 0;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}



a,
button {
    cursor: pointer;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}
